obj/
bin/
Bin/
.svn/
gen/
sdk/
sdk_old/
android-lib/
dotnetsdk/
local_libs/
Temp/
debug/
release/
Debug/
Release/
.metadata/
mapzone_kernel/*
mapzone_kernel_api/*
RemoteSystemsTempFiles/


tags
*.swp
*.bz2
*.a
*.o
*.d
*.user
*.ncb
*.suo
*.obj

